.shoppingcart-landing{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.shoppingcart-menu{
  width: 80%;
  height: 650px;
  margin-top:5vh;
  border-top:2px solid #e0deda;
  border-radius: 25px;
  background-color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-icon{
  flex:1;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-items{
  flex:6;
  width: 100%;
  border-top:2px solid #e0deda;
  border-bottom:2px solid #e0deda;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.shoppingcart-menu-item{
  border:1px solid black;
  width: 80%;
  height: 60px;
  margin-top:15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-pricing{
  flex:1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
}