.shoppingcart-landing{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.shoppingcart-menu{
  width: 80%;
  height: 650px;
  margin-top:5vh;
  border-top:2px solid #e0deda;
  border-radius: 25px;
  background-color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-icon{
  flex:1;
  width: 100%;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-items{
  flex:6;
  width: 100%;
  border-top:2px solid #e0deda;
  border-bottom:2px solid #e0deda;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.shoppingcart-menu-item{
  width: 80%;
  height: 40px;
  margin-top:30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-item div{
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.shoppingcart-menu-item-quantitiy{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-item-name{
  flex:5;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border-left:2px solid #e0deda;
}

.shoppingcart-menu-item-price{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-total{
  width: 80%;
  height: 60px;
  margin-top:30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shoppingcart-menu-item-total-price{
  height: 100%;
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
  border-top:2px solid #e0deda;
  font-weight: 600;
  font-size: 20px;
}

.shoppingcart-submit-order-wrap{
  height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
}